:root{
    --color-red:#f44336;
    --color-two:#888;
    --color-speical:#715c5cbd;
    --color-gray:#888;
    --color-blue:#0075ff;
    --blue-alt-color: #0d69d5;
    --color-lightblue:#cce3ff;
    --color-lightred:#fdecce;
    --color-lightgreen:#22c55e33;
    --color-orange:#f59e0b;
    --color-green:#22c55e;
}
/* Start Box */
.d-flex{
    display: flex;
}
.f-direction{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.f-grow{
    flex-grow: 1;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.d-block{
    display: block;
}
@media (max-width:767px){
    .block-mobile{
        display: block;
    }
}
/* End  Box */

/* //////////////////////////// */


/* Start Padding + Margin  */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.pr-10{
    padding-right: 10px
}
.pb-10{
    padding-bottom: 10px;
}
.pl-10{
    padding-left: 10px;
}
.p-15{
    padding: 15px;
}
.pt-15{
    padding-top:15px;
}
.pl-15{
    padding-left:15px;
}
.pb-15{
    padding-bottom: 15px;
}
.p-20{
    padding: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
/* //////////////////////////////////////////////////////// */
.m-0{
    margin: 0;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
.mt-5{
    margin-top: 5px;
}
.mr-5{
    margin-right: 5px;
}
.mb-5{
    margin-bottom: 5px;
}
.ml-5{
    margin-left: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.ml-10{
    margin-left: 10px;
}
.m-15{
    margin: 15px;
}
.mt-15{
    margin-top: 15px;
}
.mr-15{
    margin-right: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.ml-15{
    margin-left: 15px;
}
.m-20{
    margin: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.ml-20{
    margin-left: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mb-25{
    margin-bottom: 25px;
}

/* End Padding + Margin  */

/* //////////////////////////// */

/* Start Color */
.bc-white{
    background-color: white;
}
.bc-black{
    color: black;
}
.bc-ee{
    background-color: #eeeeee;
}
.bc-blue{
    background-color: var(--color-blue);
}
.bc-liblue{
    background-color: var(--color-lightblue);
}
.bc-liorange{
    background-color: var(--color-lightred);
}
.bc-ligreen{
   background-color: var(--color-lightgreen);
}
.bc-orange{
    background-color: var(--color-orange);
}
.bc-green{
    background-color: var(--color-green);
}
.bc-gray{
    background-color: var(--color-gray);
}
.bc-red{
    background-color: var(--color-red);
}
.bc-reed{
    background-color:red ;
}
.bc-lired{
    background-color: #ffcccc;
}
.bc-bluue{
    background-color:#1877f2 ;
}
.bc-f6f{
    background-color: #f6f6f6;
}
.c-gray{
    color: var(--color-gray);
}
.c-white{
    color: white;
}
.c-blue{
    color: var(--color-blue);
}
.c-orange{
    color: var(--color-orange);
}
.c-green{
    color: var(--color-green);
}
.c-red{
    color: var(--color-one);
}
.c-reed{
    color: red;
}
.c-black{
    color: black;
}
.c-Purble{
    color: #551a8b;
}
.c-icorange{
    color: #FF5722;
}
/* End Color */

/* //////////////////////////// */

/* Start Positin */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
/* End Positin */

/* //////////////////////////// */

/* Start Font */
.txt-c{
    text-align: center;
}
@media (max-width:767px){
    .txt-c-mobile{
        text-align: center;
    }
}
.fs-11{
    font-size: 11px;
}
.fs-13{
    font-size:  13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-17{
    font-size: 17px;
}
.fs-20{
    font-size: 20px;
}
.fs-25{
    font-size: 25px;
}
.f-wight{
    font-weight: bold;
}
/* End Font */

/* Start Border */
.b-none{
    border: none;
}
.border-ccc{
    border:1px solid #ccc;
}
.bt-cc{
    border-bottom: 1px solid #ccc;
}
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
/* End Border */

/* ///////////////////////////// */

/* Start  width + height*/
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-100{
    height: 100px;
}
.w-100{
    width: 100px;
}
/* End width + height */

/* ///////////////////////////// */

/* Start compثnants */
.f-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ptn-shap{
    padding: 4px 10px;
    border-radius: 6px;
}
.m-tl{
    margin: 35px 30px;
}

/*End compثnants */

/* /////////////////////// */
@media (max-width:767px){
    .hide-mobile{
        display: none;
    }
}
@media (max-width:767px){
    .block-mobile{
        display: block;
    }
}
@media (max-width:767px){
    .f-dir-mobile{
        flex-direction: column;
    }
}